@using QualityExperienceUI.Data.Models
@using QualityExperienceUI.Data.Validations



<h3>CreateQuestionItem</h3>

<Form @ref="form"
Model="@_model"
ValidateOnChange="true"
Size="FormSize.Small">


    <FormItem Label="Tipo de control" Rules="@(FormValidationRules.numericRules)">
        <AntDesign.InputNumber @bind-Value="@_model.controlType" />
    </FormItem>

    <FormItem Label="Control size" Rules="@(FormValidationRules.numericRules)">
        <AntDesign.InputNumber @bind-Value="@_model.controlSize" />
    </FormItem>

    <FormItem Label="Label" Rules="@(FormValidationRules.textRules)">
        <Input @bind-Value="@_model.label" />
    </FormItem>
</Form>



 @*        public int questionID { get; set; } *@

@code {
    private CreateQuestionsItemDTO _model { get; set; } = new CreateQuestionsItemDTO();
    private Form<CreateQuestionsItemDTO>? form;


    // Editable or possibles parameters
    Dictionary<string, int> QuestionsPair = new();

}
