
@* Component Content *@
<h3>@localizer["ComponentFormUpdateTitle"]</h3>
@* Form *@
<Form Model="formModel"
      ValidateOnChange="true"
      Size="FormSize.Small">

    <FormItem Label="@localizer["ComponentFormLabelName"]" Rules="@(FormValidationRules.textRules)">
        <Input @bind-Value="@formModel.name" />
    </FormItem>

    <FormItem Label="@localizer["ComponentFormLabelDescription"]" Rules="@(FormValidationRules.textRules)">
        <Input @bind-Value="@formModel.description" />
    </FormItem>

    <FormItem Label="@localizer["ComponentFormLabelOrder"]" Rules="@(FormValidationRules.numericRules)">
        <AntDesign.InputNumber @bind-Value="@formModel.order" />
    </FormItem>

    <FormItem Label="@localizer["ComponentFormLabelAuthorID"]" Rules="@(FormValidationRules.idRules)">
        <AntDesign.InputNumber @bind-Value="@formModel.authorID" />
    </FormItem>

    <FormItem Label="@localizer["ComponentFormSelectCategory"]" Rules="@(FormValidationRules.selectRules)">
        <Select DataSource="@serviceCategorypair.Values"
                TItemValue="int"
                TItem="int"
                EnableSearch
                Placeholder="@localizer["ComponentFormSelectCategory"]"
                Value="@formModel.serviceCategoryID"
                ValueChanged="value => { formModel.serviceCategoryID = value; }"
                ValueExpression="@(() => formModel.serviceCategoryID)"
                DefaultActiveFirstOption="false"
                DefaultValue="0">
            <SelectOptions>
                @foreach (var category in serviceCategorypair)
                {
                    <SelectOption TItemValue="int" TItem="int" Value="@category.Value" Label="@category.Key" />
                }
            </SelectOptions>
        </Select>
    </FormItem>

    <FormItem Label="@localizer["ComponentFormLabelServiceType"]" Rules="@(FormValidationRules.numericRules)">
        <Input @bind-Value="@formModel.serviceType" />
    </FormItem>

    <FormItem Label="@localizer["ComponentFormLabelOperationType"]" Rules="@(FormValidationRules.numericRules)">
        <Input @bind-Value="@formModel.operationType" />
    </FormItem>

    <FormItem Label="@localizer["ComponentFormLabelStatus"]" Rules="@(FormValidationRules.numericRules)">
        <Input @bind-Value="@formModel.status" />
    </FormItem>

    @* Buttons *@
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="ButtonType.Primary" HtmlType="submit" @onclick="_=>UpdateButtonAction()">
            @localizer["ComponentFormButtonUpdate"]
        </Button>
        <Button Type="ButtonType.Primary" HtmlType="Cancel" @onclick="_=>CancelButtonAction()" Danger>
            @localizer["ComponentFormButtonCancel"]
        </Button>
    </FormItem>
</Form>


@code {
    // Parameters
    [Parameter] public IStringLocalizer? localizer { get; set; }
    [Parameter] public dynamic? service { get; set; }
    [Parameter] public Dictionary<string, int>? serviceCategorypair { get; set; }

    [Parameter] public EventCallback<PutServiceDTO> Update { get; set; }
    [Parameter] public EventCallback CancelUpdate { get; set; }
    // Vars
    private int idToUpdate;
    // Form
    private PutServiceDTO formModel { get; set; } = new PutServiceDTO();
    private Form<PutServiceDTO>? form; // Para manejar el form


    // Methods
    protected override async Task OnInitializedAsync()
    {
        // Charge all dates into model to edit
        if (service != null)
        {
            formModel.name = service.name;
            formModel.description = service.description;
            formModel.order = service.order;
            formModel.authorID = service.authorId;
            formModel.serviceCategoryID = service.serviceCategoryId;
            formModel.serviceType = service.serviceType;
            formModel.operationType = service.operationType;
            formModel.status = service.status;
        }
    }


    // Buttons action
    private async Task UpdateButtonAction()
    {
        if (service != null)
            idToUpdate = service.id;


        await Update.InvokeAsync(formModel);
    }

    private async Task CancelButtonAction()
    {
        await CancelUpdate.InvokeAsync();
    }
}