<div>
    @switch (ControlType)
    {
        case "Text":
            <div style="display:flex;">
                <Input Placeholder="@Label" TValue="string"/>
            </div>
            break;

        case "Number":
            <label>@Label</label>
            <AntDesign.InputNumber TValue="int" />
            break;

        case "DropdownSingle":
            <label>@Label</label>
            <Dropdown>
                <Overlay>
                    <Menu>
                        <MenuItem>
                            <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">
                                1st menu item
                            </a>
                        </MenuItem>
                    </Menu>
                </Overlay>
                <ChildContent>
                    <a class="ant-dropdown-link" @onclick:preventDefault>
                        Hover me <Icon Type="@IconType.Outline.Down" />
                    </a>
                </ChildContent>
            </Dropdown>
            break;

        case "DropdownMultiple":
            <label>@Label</label>
            <Dropdown>
                <Overlay>
                    <Menu>
                        <MenuItem>
                            <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">
                                1st menu item
                            </a>
                        </MenuItem>
                        <MenuItem>
                            <a target="_blank" rel="noopener noreferrer" href="http://www.taobao.com/">
                                2nd menu item
                            </a>
                        </MenuItem>
                        <MenuItem>
                            <a target="_blank" rel="noopener noreferrer" href="http://www.tmall.com/">
                                3rd menu item
                            </a>
                        </MenuItem>
                    </Menu>
                </Overlay>
                <ChildContent>
                    <a class="ant-dropdown-link" @onclick:preventDefault>
                        Hover me <Icon Type="@IconType.Outline.Down" />
                    </a>
                </ChildContent>
            </Dropdown>
            break;
        default:
            <label>@Label</label>
            <span>Control no soportado: @ControlType</span>
            break;
    }
</div>

@code {

    [Parameter]
    public string? ControlType { get; set; }

    [Parameter]
    public string? Label { get; set; }
}
